<div  ng-controler="plusenseignant">
<h1>Details</h1>
<center><h3>{{plusEnseignant.nom}} {{plusEnseignant.prenom}}</h3>
<ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
      {{plusEnseignant.sexe}}
      </li>
      
       <li class="w3-padding-16">
      {{plusEnseignant.emailUbo}} 
      </li>
      
      <li class="w3-padding-16">
      {{plusEnseignant.mobile}} 
      </li>
      
       <li class="w3-padding-16">
      {{plusEnseignant.adresse}},  {{plusEnseignant.codePostal}} {{plusEnseignant.ville}}, {{plusEnseignant.pays}}
      </li>
      
      
</ul>
</center>

</div>

